:root {
    --dark-col: linear-gradient(#3D5DE0, #3C51A6 ,#3C51A6);
    --light-col: linear-gradient(#6279D9, #8D99CC, #8D99CC , #8D99CC,#6279D9);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
body{
    background-color: #8D99CC;
}

header{
    background-image: var(--dark-col);
    height: 50px;
    width: 80%;
    border-radius: 0px 0px 10px 10px;
    
    display: flex;
    margin: 0px auto;
    justify-content: center;
}

h3{
    font-weight: 500;
}

.title{
    position: relative;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    padding: 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 50px auto 0px;
    padding: 10px;
    border-radius: 10px;
    background-image: var(--dark-col);
    
}
main p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
main .highscores{
    text-align: left;
}
.highscore-link{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 50px auto 0px;
    padding: 10px;
    border-radius: 10px;
    background-image: var(--dark-col);
}
.highscore-link a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

.game-menu{
    display: flex;
    justify-content: center;
    margin: 50px auto 0px;
}

.play-game{
    background-color: #3E4F94;
    font-size: 15px;
    font-weight: 700;
    color: #101731;
    border: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}
.play-game:hover{
    background-color: #6279D9;
    padding: 10px 15px;
    border-radius: 5px;
}
.highscore-form{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 50px auto 0px;
    padding: 10px;
    border-radius: 10px;
    background-image: var(--dark-col);
}
.questions{
    margin: 10px;
    padding: 10px;
    display: inline-block;
}
.quiz-answers{
    background-color: #101731;
}
.time{
    display: flex;
    color: rgb(177, 177, 177);
    font-weight: bolder;
    position: relative;
    padding-left: 5px;
    padding-bottom: 1px;
}
main button{
    background-color: #8D99CC;
    color: #101731;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}
main button:hover{
    background-color: #7a93f5;
    padding: 9px 14px;
    border: #6279D9 solid 1px;
    border-radius: 5px;
}